@import url(//fonts.googleapis.com/css?family=Quattrocento:400,700?1484455558); @import url(//fonts.googleapis.com/css?family=Quattrocento+Sans:400,700,400italic,700italic?1484455558); ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, p, blockquote, fieldset, input { margin: 0; padding: 0; }

body { width: 100%; height: 100%; background: #ffffff; color: #3e3e3e; font-family: 'Quattrocento Sans', sans-serif; font-size: 16px; font-weight: 400; line-height: 25px; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.navbar-nav {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    justify-content: center;
    overflow: hidden;
    background-color: none;
    display: flex;
    width: 60%;
    flex-flow: row wrap;
}

.navbar-nav li {
	flex: 1 0 8em;
}

.navbar-nav li a {
	display: block;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
}

.navbar-nav li a:active {
    background-color: white;
    color: black;
}

.navbar-nav li a:hover:not(.active) {
    color: lightgrey;
}

.navbar-nav li:last-child {
    border-bottom: none;
}


/* --------------------------------------------
*/


a { 
    color: #b9b9b9; 
    text-decoration: none; 
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease; 
    -ms-transition: all 300ms ease; 
    -o-transition: all 300ms ease; 
    transition: all 300ms ease; 
}

 a:hover { 
     color: #333333; 
}

 h2 { margin-bottom: 15px;
     color: #000000; 
     font-family: 'Quattrocento', serif; 
     font-size: 40px; 
     font-weight: 700; 
     line-height: 1.2em; }

  h1 { 
      margin-bottom: 15px; 
      color: #000000; 
      font-family: 
      font-size: 24px; 
      font-weight: 700; 
      line-height: 1.2em;
      padding-top: 30px;
}

.h1title {
      margin-bottom: 15px; 
      color: black; 
      font-family:
      font-size: 50px; 
      font-weight: 700; 
      line-height: 1.2em;
      padding-top: 30px;
}

.h3title {
      margin-bottom: 15px; 
      color: black; 
      font-family: 
      font-size: 30px; 
      font-weight: 700; 
      line-height: 1.2em;
}

h4 {
    padding-right: 300px;
    padding-bottom: 15px
}

.pagetitleleft {
    padding-left: 130px;
}

.pagetitleright {
    padding-right: 150px;
}

/* --------------------------------------------
*/

/* body {
    background-image: url('kiahcute.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
}
*/

 body {
      position: relative; 
  }


.titlehr {
    width: 20%;
}

/* --------------------------------------------
*/

img {
    opacity: 1.0;
    filter: alpha(opacity=50);
}

.imageContainer {
    float:left;width:33.28%;margin:0;
}

.imageGallery {
    line-height: 0px; padding: 0; margin: 0;
}

.insideImageContainer {
    position:relative;margin:2px;
}

.galleryImageHolder {
    position:relative; width:100%; padding:0 0   75%;overflow:hidden;
}

.galleryImage {
    position:absolute;border:0;width:100%;top:-10.33%;left:0%;
}

/* --------------------------------------------
*/

/* div {
    width: 1100px;
    border: 2px solid black;
    padding: 25px;
    margin: 25px;
}

*/

/* --------------------------------------------
*/

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  }
  
  #footer-row1{
    margin-top: 80px;
    padding: 1.2em 0;
    background: #000;
    bottom: 0;
    margin-right: -33px;
    font-family: "Fjalla One", Verdana, Geneva, sans-serif;
    font-size: 0.95em;
    text-transform: uppercase;
}

.copyright{
    text-align: center;
    color: #FFF;
}

 /*  text-shadow: 0 0 3px grey;
   */
   
   .photo-grid {
	margin: 1em auto;
	max-width: 1006px;
	text-align: center;
}

.photo-grid li {
	display: inline-block;
	margin: 0.5em;
	width: 289px;
}

.photo-grid img {
	display: block;
	height: auto;
	max-width: 100%;
}

.photo-grid figure {
	height: 250px;
	overflow: hidden;
	position: relative;
	width: 289px;
}

.photo-grid figcaption {
	background: rgba(0,0,0,0.8);
	color: white;
	display: table;
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 100;
}

.photo-grid figcaption p {
	display: table-cell;
	font-size: 1.5em;
	position: relative;
	top: -40px;
	width: 289px;
	vertical-align: middle;
}

.photo-grid li:hover figcaption {
	opacity: 1;
}

.photo-grid img {
	display: block;
	height: auto;
	-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
	transition: all 300ms;
	max-width: 100%;
}

.photo-grid li:hover img {
	-webkit-transform: scale(1.4);
	-moz-transform: scale(1.4);
	transform: scale(1.4);
}

.photo-grid figcaption p {
	display: table-cell;
	font-size: 1.8em;
	position: relative;
	top: -40px;
	width: 289px;
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
	vertical-align: middle;
}

.photo-grid li:hover figcaption p {
	-moz-transform: translateY(40px);
	-webkit-transform: translateY(40px);
	transform: translateY(40px);
}

.photo-grid figcaption {
	background: rgba(0,0,0,0.8);
	color: white;
	display: table;
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
	transition: all 300ms;
	-webkit-transition-delay: 100ms;
	-moz-transition-delay: 100ms;
	transition-delay: 100ms;
	z-index: 100;
}

.photo-grid {
	display: block;
    padding-right: 100px;
}

/* --------------------------------------------
*/

.bloglink {
    
}

/* --------------------------------------------
*/


.bloglink {
	margin: 1em auto;
	max-width: 1106px;
	text-align: center;
}

.bloglink li {
	border: 5px solid white;
	display: inline-block;
	margin: 0em;
	width: 300px;
}

.bloglink img {
	display: block;
	height: auto;
	max-width: 100%;
}

.bloglink figure {
	height: 200px;
	overflow: hidden;
	position: relative;
	width: 289px;
}

.bloglink figcaption {
	background: rgba(0,0,0,0.8);
	color: white;
	display: table;
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 100;
}

.bloglink figcaption p {
	display: table-cell;
	font-size: 1.5em;
	position: relative;
	top: -40px;
	width: 289px;
	vertical-align: middle;
}

.bloglink li:hover figcaption {
	opacity: 1;
}

.bloglink img {
	display: block;
	height: auto;
	-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
	transition: all 300ms;
	max-width: 100%;
}

.bloglink li:hover img {
	-webkit-transform: scale(1.4);
	-moz-transform: scale(1.4);
	transform: scale(1.4);
}

.bloglink figcaption p {
	display: table-cell;
	font-size: 1.5em;
	position: relative;
	top: -40px;
	width: 289px;
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
	vertical-align: middle;
}

.bloglink li:hover figcaption p {
	-moz-transform: translateY(40px);
	-webkit-transform: translateY(40px);
	transform: translateY(40px);
}

.bloglink figcaption {
	background: rgba(0,0,0,0.8);
	color: white;
	display: table;
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
	transition: all 300ms;
	-webkit-transition-delay: 100ms;
	-moz-transition-delay: 100ms;
	transition-delay: 100ms;
	z-index: 100;
}

.bloglink {
	display: inline;
}

/* --------------------------------------------
*/

.contactform {
    float: right;
    padding-right: 100px;
    
}

.aboutdiv {
    background-color: white;
    width: 550px;
}

.mediabox {
    display: inline;
    
}

/* --------------------------------------------
*/


/* imghvr-fade-*
   ----------------------------- */
[class^='imghvr-fade'] figcaption,
[class*=' imghvr-fade'] figcaption {
  opacity: 0;
}
[class^='imghvr-fade']:hover > img,
[class*=' imghvr-fade']:hover > img {
  opacity: .3;
}
[class^='imghvr-fade']:hover figcaption,
[class*=' imghvr-fade']:hover figcaption {
  opacity: 1;
}
[class^='imghvr-fade']:hover > img,
[class*=' imghvr-fade']:hover > img,
[class^='imghvr-fade']:hover figcaption,
[class*=' imghvr-fade']:hover figcaption {
  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

[class^='imghvr-'],
[class*=' imghvr-'] {
  position: relative;
  display: inline-block;
  margin: 0px;
  max-width: 100%;
  background-color: lightgrey;
  color: #fff;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
[class^='imghvr-'] > img,
[class*=' imghvr-'] > img {
  vertical-align: top;
  max-width: 100%;
}
[class^='imghvr-'] figcaption,
[class*=' imghvr-'] figcaption {
  background-color: none;
  padding: 30px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: none;
}
[class^='imghvr-'] figcaption h1,
[class*=' imghvr-'] figcaption h1,
[class^='imghvr-'] figcaption h2,
[class*=' imghvr-'] figcaption h2,
[class^='imghvr-'] figcaption h3,
[class*=' imghvr-'] figcaption h3,
[class^='imghvr-'] figcaption h4,
[class*=' imghvr-'] figcaption h4,
[class^='imghvr-'] figcaption h5,
[class*=' imghvr-'] figcaption h5,
[class^='imghvr-'] figcaption h6,
[class*=' imghvr-'] figcaption h6 {
  color: none;
}
[class^='imghvr-'] a,
[class*=' imghvr-'] a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
[class^='imghvr-'],
[class*=' imghvr-'],
[class^='imghvr-']:before,
[class^='imghvr-']:after,
[class*=' imghvr-']:before,
[class*=' imghvr-']:after,
[class^='imghvr-'] *,
[class*=' imghvr-'] *,
[class^='imghvr-'] *:before,
[class^='imghvr-'] *:after,
[class*=' imghvr-'] *:before,
[class*=' imghvr-'] *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

